<div id="<%= dom_id pack %>">
  <p>
    <strong>Name:</strong>
    <%= pack.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= pack.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pack.description %>
  </p>

</div>
