<%# frozen_string_literal: true %>
<div class="content content-boxed">
    <div class="block">
        <div class="block-content">
            <div class="row">
                <div class="col-md-12">
                    <%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
                        <%%= f.error_notification %>
                        <%%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                        <div class="row">
                            <div class="col-md-6">
                                <%- attributes.each do |attribute| -%>
                                    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>, label: '' %>
                                <%- end -%>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <hr />

                        <div class="form-actions text-right">
                            <%%= f.button :submit, "#{@<%= singular_table_name %>.id.present? ? 'Actualizar' : 'Registar'}", class: "btn btn-success btn-sm" %>
                            <%%= link_to 'Cancelar', back_url, class: 'btn btn-sm btn-danger' %>
                        </div>
                    <%% end %>
                </div>
            </div>
        </div>
    </div>
</div>