
<%= render 'layouts/partials/header/header_about' %>

<main>

    <section class="works">
        <div class="container">
            <div class="works-title wow fadeIn">
                <h2>Quem somos</h2>
                <p>
                    Somos um grupo de vários empreendedores com foco na promoção dos negócios e serviços inovadores e 
                    trabalhar fortemente com pareceiros na promoção e sluções rápidas aos desafios do mercado Angolano.
                </p>
                <br>
                <p>
                    Trazemos ao mercado inovação, experieência e competência de uma rede de técnicos, habilitados a desafios e 
                    a implementar soluções focados em pessoas, processos e resultados.
                </p>
            </div>
        </div>
    </section>

    <section class="services-content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow fadeIn">
                    <div class="content-box content-box-board">
                        <figure><img src="/images/site/icons/icon07.jpg" alt="Image"></figure>
                        <h4>Missão</h4>
                        <ul>
                            <li>Fornecer produtos e serviços inovadores que visam apoiar o empreendedorismo Angolano</li>
                            <li>Criar e desenvolver redes de negócios e comércio</li>
                        </ul>
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end col-4 -->
                
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box content-box-board">
                        <figure><img src="/images/site/icons/icon07.jpg" alt="Image"></figure>
                        <h4>Visão</h4>
                        <ul>
                            <li>Ser a maior incubadora de projectos em Angola</li>
                            <li>Ser uma empresa inovadora de projectos, serviços e produtos para empreendedores</li>
                        </ul>
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end col-4 -->
                
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.2s">
                    <div class="content-box content-box-board">
                        <figure><img src="/images/site/icons/icon07.jpg" alt="Image"></figure>
                        <h4>Valores</h4>
                        <ul>
                            <li>Seriedade</li>
                            <li>Honestidade</li>
                            <li>Respeito</li>
                            <li>Ética</li>
                            <li>Responsabilidade</li>
                        </ul>
                    </div>
                    <!-- end content-box -->
                </div>
                <!-- end col-4 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>



    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<style>
.services-content-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    background: url(/banner.png) center no-repeat;
    background-size: auto 100%;
}
</style>

<!-- JS FILES --> 
<script src="/templete-site/js/jquery.min.js"></script>
<script src="/templete-site/js/bootstrap.min.js"></script> 
<script src="/templete-site/js/swiper.min.js"></script> 
<script src="/templete-site/js/jquery.stellar.js"></script> 
<script src="/templete-site/js/isotope.min.js"></script> 
<script src="/templete-site/js/imagesloaded.pkgd.min.js"></script> 
<script src="/templete-site/js/jquery.typewriter.js"></script> 
<script src="/templete-site/js/odometer.min.js"></script> 
<script src="/templete-site/js/fancybox.min.js"></script> 
<script src="/templete-site/js/wow.min.js"></script> 
<script src="/templete-site/js/jquery.form.min.js"></script> 
<script src="/templete-site/js/jquery.validate.min.js"></script> 
<script src="/templete-site/js/contact.form.min.js"></script> 

<script src="/templete-site/js/scripts.js"></script>
