        <div class="about">

            <div class="container">
                <div class="about-top-img text-center">
                    <a href="" class="hover-images"><img src="/logo.png" alt=""></a>
                </div>
            </div>
            <div class="about-top text-center">
                <h3 class="about-heading v-color1">ONTEM SONHO</h3>
                <h3 class="about-heading v2">HOJE REALIDADE</h3>
            </div>
            <div class="container">

                <div class="about-content">
                    <h3>The secret Ingredient</h3>
                    <div class="about-content-detail">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 first-column">
                                <h3 class="icon-text">T</h3>
                                <p>he other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and an trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through a weakness of will, which is the same as saying ath</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, It is a long established fact that a reader will be dis</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-quote text-center">
                        <p>“We strive to work closely together with our customers in solving their problems Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.” </p>
                    </div>
                </div>
                

            </div>
        </div>
