
<%= render 'layouts/partials/header/header_board' %>

<main>
    <section class="services-content-block">
        <div class="container">
            <div class="row justify-content-md-center">

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/pca.png" alt="">
                        <div class="team-hover">
                            <h4>Fernando Jeremias <span>Presidente do Conselho de Administração</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/vice.png" alt="">
                        <div class="team-hover">
                            <h4>Milton da Costa<span>Vice Presidente do Conselho de Administração</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/adm.png" alt="">
                        <div class="team-hover">
                            <h4>Lifa Januário <span>Administradora da Área de Administração</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/eufrasio.png" alt="">
                        <div class="team-hover">
                            <h4>Eufrásio António<span>Administrador da Área de Administração e Finanças</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/sevtlana.png" alt="">
                        <div class="team-hover">
                            <h4>Svetlana Da Costa<span>Área de Comunicação e Marketing</span></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center">

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/deafult.png" alt="">
                        <div class="team-hover">
                            <h4>Lucineide Pacheco<span>Área de Comunicação e Marketing</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/deafult.png" alt="">
                        <div class="team-hover">
                            <h4>Teresa J. Jeremias<span>Área Jurídica</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/deafult.png" alt="">
                        <div class="team-hover">
                            <h4>Victoria Costa<span>Área Jurídica</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/deafult.png" alt="">
                        <div class="team-hover">
                            <h4>Filipe Jeremias<span>Área de Operações</span></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 pb-4">
                    <div class="single-team">
                        <img src="/images/site/profile/deafult.png" alt="">
                        <div class="team-hover">
                            <h4>Irlando Cristovão<span>Área de Operações</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<!-- JS FILES --> 
<script src="/templete-site/js/jquery.min.js"></script>
<script src="/templete-site/js/bootstrap.min.js"></script> 
<script src="/templete-site/js/swiper.min.js"></script> 
<script src="/templete-site/js/jquery.stellar.js"></script> 
<script src="/templete-site/js/isotope.min.js"></script> 
<script src="/templete-site/js/imagesloaded.pkgd.min.js"></script> 
<script src="/templete-site/js/jquery.typewriter.js"></script> 
<script src="/templete-site/js/odometer.min.js"></script> 
<script src="/templete-site/js/fancybox.min.js"></script> 
<script src="/templete-site/js/wow.min.js"></script> 
<script src="/templete-site/js/jquery.form.min.js"></script> 
<script src="/templete-site/js/jquery.validate.min.js"></script> 
<script src="/templete-site/js/contact.form.min.js"></script> 
<script src="/templete-site/js/scripts.js"></script>


<style>
.services-content-block{
    background: url(/banner.png) center no-repeat;
    background-size: auto 100%;
}
.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: #ff3636;
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: #ff3636;
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}

.single-team img {
  width: 100%;
}
.single-team {
  position: relative;
}
.team-hover {
  background-color: #222;
  color: #fff;
  position: absolute;
  bottom: -160px;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  -webkit-transition: .4s;
  transition:.4s
}
.team-hover h4 {
  font-size: 15px;
  text-transform: capitalize;
}
.team-hover h4 span {
  display: block;
  font-size: 10px;
  font-weight: 300;
  margin: 10px 0;
}
.team-hover a {
  display: inline-block;
  color: #fff;
  padding: 0 5px;
}
.single-team:hover .team-hover {
  bottom: 0;
}
.single-team {
  overflow: hidden;
}
</style>