
<%= render 'layouts/partials/header_contact' %>

<main>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeIn">
                    <div class="title">
                        <h5>CONTACTO</h5>
                        <h3>Vamos conversar</h3>
                    </div>
                    <!--end title --> 
                </div>
                <!-- end col-12 -->
                <div class="col-md-6 wow fadeIn">
                    <div class="contact-box">
                        <h6>NOSSO ENDEREÇO</h6>
                        <p>
                            AV. 21 De Janeiro, Cassequel do Lourenço
                            <br>
                            Edifício Procenter
                            <br>
                            Luanda - Angola
                        </p>
                    </div>
                    <!--end contact-box -->
                </div>
                <!-- end col-6 -->
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="contact-box">
                        <h6>lIGA PARA NÓS</h6>
                        <a href="#">+244 942 611 473</a>
                        <h6>E-MAIL</h6>
                        <a href="#">geral@jk-grupo.com</a> 
                    </div>
                    <!--end contact-box --> 
                </div>
                <!-- end col-6 -->
                <div class="col-12 wow fadeIn">
                    <div class="map" id="map"></div>
                    <!-- end map --> 
                </div>
                <!-- end col-12 -->
                <div class="col-md-5 wow fadeIn">
                    <div class="title">
                        <h5>FORMULÁRIO DE CONTACTO</h5>
                        <h3>Se haver alguma questão Por favor</h3>
                    </div>
                    <!--end title -->
                </div>
                <!-- end col-5 -->
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <form id="contact" name="contact" method="post">
                        <div class="form-group"> <span>Nome completo</span>
                            <input type="text" name="name" id="name" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"> <span>Seu e-mail</span>
                            <input type="text" name="email" id="email" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"> <span>Assunto</span>
                            <input type="text" name="subject" id="subject" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"> <span>Descrição da Mensagem</span>
                            <textarea name="message" id="message" required></textarea>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group">
                            <button id="submit" type="submit" name="submit">ENVIAR</button>
                        </div>
                        <!-- end form-group -->
                    </form>
                    <!-- end form --> 
                    <div class="form-group">
                        <div id="success" class="alert alert-success" role="alert"> Your message was sent successfully! We will be in touch as soon as we can. </div>
                        <!-- end success -->
                        <div id="error" class="alert alert-danger" role="alert"> Something went wrong, try refreshing and submitting the form again. </div>
                        <!-- end error --> 
                    </div>
                    <!-- end form-group -->
                </div>
                <!-- end col-6 -->
            </div>
            <!-- end row --> 
        </div>
        <!-- end container --> 
    </section>
    <!-- end contact -->

    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<!-- prettier-ignore -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg", v: "beta"});</script>