
<%= render 'layouts/partials/header_contact' %>

<main>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeIn">
                    <div class="title">
                        <h5>CONTACTO</h5>
                        <h3>Vamos conversar</h3>
                    </div>
                    <!--end title --> 
                </div>
                <!-- end col-12 -->
                <div class="col-md-6 wow fadeIn">
                    <div class="contact-box">
                        <h6>NOSSO ENDEREÇO</h6>
                        <p>
                            AV. 21 De Janeiro, Cassequel do Lourenço
                            <br>
                            Edifício Procenter
                            <br>
                            Luanda - Angola
                        </p>
                    </div>
                    <!--end contact-box -->
                </div>
                <!-- end col-6 -->
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="contact-box">
                        <h6>lIGA PARA NÓS</h6>
                        <a href="#">+244 942 611 473</a>
                        <h6>E-MAIL</h6>
                        <a href="#">geral@jk-grupo.com</a> 
                    </div>
                    <!--end contact-box --> 
                </div>
                <!-- end col-6 -->
                <div class="col-12 wow fadeIn">
                    <div class="map" id="map"></div>
                    <!-- end map --> 
                </div>
                <!-- end col-12 -->
                <div class="col-md-5 wow fadeIn">
                    <div class="title">
                        <h5>FORMULÁRIO DE CONTACTO</h5>
                        <h3>Se haver alguma questão Por favor</h3>
                    </div>
                    <!--end title -->
                </div>
                <!-- end col-5 -->
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <form id="contact" name="contact" method="post">
                        <div class="form-group"> <span>Nome completo</span>
                            <input type="text" name="name" id="name" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"> <span>Seu e-mail</span>
                            <input type="text" name="email" id="email" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"> <span>Assunto</span>
                            <input type="text" name="subject" id="subject" required>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group"> <span>Descrição da Mensagem</span>
                            <textarea name="message" id="message" required></textarea>
                        </div>
                        <!-- end form-group -->
                        <div class="form-group">
                            <button id="submit" type="submit" name="submit">ENVIAR</button>
                        </div>
                        <!-- end form-group -->
                    </form>
                    <!-- end form --> 
                    <div class="form-group">
                        <div id="success" class="alert alert-success" role="alert"> Your message was sent successfully! We will be in touch as soon as we can. </div>
                        <!-- end success -->
                        <div id="error" class="alert alert-danger" role="alert"> Something went wrong, try refreshing and submitting the form again. </div>
                        <!-- end error --> 
                    </div>
                    <!-- end form-group -->
                </div>
                <!-- end col-6 -->
            </div>
            <!-- end row --> 
        </div>
        <!-- end container --> 
    </section>
    <!-- end contact -->

    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<!-- JS FILES --> 
<script src="/templete-site/js/jquery.min.js"></script>
<script src="/templete-site/js/bootstrap.min.js"></script> 
<script src="/templete-site/js/swiper.min.js"></script> 
<script src="/templete-site/js/jquery.stellar.js"></script> 
<script src="/templete-site/js/isotope.min.js"></script> 
<script src="/templete-site/js/imagesloaded.pkgd.min.js"></script> 
<script src="/templete-site/js/jquery.typewriter.js"></script> 
<script src="/templete-site/js/odometer.min.js"></script> 
<script src="/templete-site/js/fancybox.min.js"></script> 
<script src="/templete-site/js/wow.min.js"></script> 
<script src="/templete-site/js/jquery.form.min.js"></script> 
<script src="/templete-site/js/jquery.validate.min.js"></script> 
<script src="/templete-site/js/contact.form.min.js"></script> 

<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDhhmmjFT2XUyAas1mLlz4xhXkTMUZOFnY&#038'></script> 
<script src="/templete-site/js/googlemaps.min.js"></script> 
<script src="/templete-site/js/scripts.js"></script>
