

<section class="works">
    <div class="container">
        <div class="works-title wow fadeIn">
            <h2>Quem somos</h2>
            <p>
                Somos um grupo de vários empreendedores com foco na promoção dos negócios e serviços inovadores e 
                trabalhar fortemente com pareceiros na promoção e sluções rápidas aos desafios do mercado Angolano.
            </p>
            <br>
            <p>
                Trazemos ao mercado inovação, experieência e competência de uma rede de técnicos, habilitados a desafios e 
                a implementar soluções focados em pessoas, processos e resultados.
            </p>
        </div>
        <!-- end works-title -->
    </div>
    <!-- end container -->

</section>

<section class="services-content-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 wow fadeIn">
                <div class="content-box">
                    <figure><img src="/images/site/icons/icon07.jpg" alt="Image"></figure>
                    <h4>Missão</h4>
                    <ul>
                        <li>Fornecer produtos e serviços inovadores que visam apoiar o empreendedorismo Angolano</li>
                        <li>Criar e desenvolver redes de negócios e comércio</li>
                    </ul>
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
            
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="content-box">
                    <figure><img src="/images/site/icons/icon07.jpg" alt="Image"></figure>
                    <h4>Visão</h4>
                    <ul>
                        <li>Ser a maior incubadora de projectos em Angola</li>
                        <li>Ser uma empresa inovadora de projectos, serviços e produtos para empreendedores</li>
                    </ul>
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
            
            <div class="col-md-4 wow fadeIn" data-wow-delay="0.2s">
                <div class="content-box">
                    <figure><img src="/images/site/icons/icon07.jpg" alt="Image"></figure>
                    <h4>Valores</h4>
                    <ul>
                        <li>Seriedade</li>
                        <li>Honestidade</li>
                        <li>Respeito</li>
                        <li>Ética</li>
                        <li>Responsabilidade</li>
                    </ul>
                </div>
                <!-- end content-box -->
            </div>
            <!-- end col-4 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

<section class="text-content-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 fadeIn">
                <h2>.:: JK ::.</h2>
            </div>

            <div class="col-lg-4 fadeOut">
                <h5>PRESPECTIVA</h5>
                <p>
                    É cada vez mais frenéticas as empresas enveredarem pelas parcerias e 
                    juntos dinamizarem o mercado como sendo o motor das ecomonias, nos focaremos em promover produtos, 
                    serviços, drédito e sermos uma força influenciadora do estado para as politicas que facilitarão o 
                    surgimento e crescimento das empresas, ferando assim mais ofertas de empregos, rendas e bem estar social;
                </p>
            </div>

            <div class="col-lg-4 fadeIn">
                <h5>OBJECTIVO</h5>
                <p>
                    Ser o maior Grupo privado de referência em produtos e serviços para os Empreendedores;
                    Incluir todos os nossos membros em nossa base de dados e participar de nossos eventos e 
                    encontros de negócios; Ser a maior força influenciadora para as MPME-Micro Pequenas e 
                    Médias Empresas.
                </p>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>

<!-- end icon-content-block -->
<section class="clients">
    <div class="container wow fadeIn">
        <h6>We offer the world’s leading brands premium digital solutions</h6>
        <h2>EMPRESAS ASSOCIADAS</h2>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-2 text-center">
                    <img src="/images/companies/jeremias.png" alt="Image" class="" style="height: 100px;">
                </div>
                <div class="col-lg-2 text-center">
                    <img src="/images/companies/kanguito.png" alt="Image" class="" style="height: 100px;">
                </div>
            </div>
            <!-- end row -->
        </div>




    </div>
    <!-- end container -->
</section>
<!-- end clients -->


<!-- end works -->
<section class="side-content-block bg-image" data-background="/images/site/networking.png">
    <div class="container">
        <div class="inner">
            <div class="holder wow fadeIn" style="color: #fff">
                <p>
                    É um espaço para reuniões de negócios e lazer para os membros do grupo que possuem os cartões. 
                    Os mesmos têm uma série de benefícios sociais como; acesso para hotéis, restaurantes, resortes encontros de negócios.
                </p>
                <h6>Clube de Negócios</h6>
            </div>
            <!-- end holder -->
        </div>
        <!-- end inner -->
    </div>
    <!-- end container -->
</section>

<!-- end side-content-block -->
<section class="awards" id="odometer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 text-center">
                <div class="row inner">
                    <div class="col-4 wow fadeIn">
                        <figure><img src="/templete-site/images/awards01.png" alt="Image"></figure>
                        <span class="odometer" id="1"></span><small>+</small>
                    </div>
                    <!-- end col-4 -->
                    <div class="col-4 wow fadeIn" data-wow-delay="0.1s">
                        <figure><img src="/templete-site/images/awards02.png" alt="Image"></figure>
                        <span class="odometer" id="2"></span><small>%</small>
                    </div>
                    <!-- end col-4 -->
                    <div class="col-4 wow fadeIn" data-wow-delay="0.2s">
                        <figure><img src="/templete-site/images/awards03.png" alt="Image"></figure>
                        <span class="odometer" id="3"></span><small>k</small>
                    </div>
                    <!-- end col-4 -->
                </div>
                <!-- end row inner -->
            </div>
            <!-- end col-7 -->
            <div class="col-lg-5 text-right wow fadeIn" data-wow-delay="0.3s">
                <h4>Nossos Projectos</h4>
                <p>
                    Na busca de inovar nas diversas áreas e acompanhando a dinâmica tecnológica, 
                    o Grupo JK propõe um conjunto de serviços e acções integradas para dinamizar 
                    o mercado e promover ferramentas que irão agregar valor a vida dos empreendedores, 
                    Com presença online nas nossas plataformas.
                </p>
            </div>
            <!--end col-5 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>


<!-- end text-content-block -->
<section class="team">
    <div class="container">
        <ul>
            <li class="wow fadeIn" data-wow-delay="0.1s">
                <figure>
                    <img src="/templete-site/images/team02.jpg" alt="Image">
                    <figcaption>
                        <h5>PRATA</h5>
                    </figcaption>
                </figure>
            </li>
            <li class="wow fadeIn" data-wow-delay="0.3s">
                <figure>
                    <img src="/templete-site/images/team04.jpg" alt="Image">
                    <figcaption>
                        <h5>Ouro</h5>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
    <!-- end container -->
</section>
<!-- end team -->


<!-- end icon-content-block -->
<section class="clients">
    <div class="container wow fadeIn">
        <h6>We offer the world’s leading brands premium digital solutions</h6>
        <h2>PARCEIROS</h2>
        <ul>
            <li class="wow fadeIn" data-wow-delay="0s">
                <figure>
                    <img src="/templete-site/images/logo01.png" alt="Image">
                    <h6>Sleep In Genoa</h6>
                </figure>
            </li>
            <li class="wow fadeIn" data-wow-delay="0.1s">
                <figure>
                    <img src="/templete-site/images/logo02.png" alt="Image">
                    <h6>Korum</h6>
                </figure>
            </li>
            <li class="wow fadeIn" data-wow-delay="0.2s">
                <figure>
                    <img src="/templete-site/images/logo03.png" alt="Image">
                    <h6>Kura</h6>
                </figure>
            </li>
        </ul>
    </div>
    <!-- end container -->
</section>
<!-- end clients -->

<!-- end main -->