
<%= render 'layouts/partials/header/header_members' %>

<main>

    <section class="works">
        <div class="container">
            <div class="works-title wow fadeIn">
                <br>
                <br>

                <h3 class="text-center">
                    Somos um grupo de vários empreendedores com foco na promoção dos negócios e serviços inovadores e 
                    trabalhar fortemente com pareceiros na promoção e sluções rápidas aos desafios do mercado Angolano.
                </h3>

                <br>
                <br>
            </div>
        </div>
    </section>

    <!-- end icon-content-block -->
    <section class="clients">
        <div class="container wow fadeIn">

            <ul>
                <% @members.each do |member| %>
                    <li class="wow fadeIn" data-wow-delay="0s">
                        <%= link_to member_details_url(member) do %>
                            <% if member.company_logo.attached? %>
                                <figure>
                                    <%= image_tag(member.company_logo, class: "") %>                                  
                                </figure>
                            <% else %>
                                <figure>
                                    <img src="/templete-site/images/logo01.png" alt="Image">
                                </figure>
                            <% end %>
                        <% end %>
                    </li>
                <% end %> 


            </ul>
        </div>
        <!-- end container -->
    </section>



    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<!-- JS FILES --> 
<script src="/templete-site/js/jquery.min.js"></script>
<script src="/templete-site/js/bootstrap.min.js"></script> 
<script src="/templete-site/js/swiper.min.js"></script> 
<script src="/templete-site/js/jquery.stellar.js"></script> 
<script src="/templete-site/js/isotope.min.js"></script> 
<script src="/templete-site/js/imagesloaded.pkgd.min.js"></script> 
<script src="/templete-site/js/jquery.typewriter.js"></script> 
<script src="/templete-site/js/odometer.min.js"></script> 
<script src="/templete-site/js/fancybox.min.js"></script> 
<script src="/templete-site/js/wow.min.js"></script> 
<script src="/templete-site/js/jquery.form.min.js"></script> 
<script src="/templete-site/js/jquery.validate.min.js"></script> 
<script src="/templete-site/js/contact.form.min.js"></script> 

<script src="/templete-site/js/scripts.js"></script>
