
<%= render 'layouts/partials/header/header_pca_message' %>

<main>

    <section class="works">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-9">
                    <div class="wow fadeIn">
                        <h4>Prezados,(a)</h4>
                        <br>
                        <p>
                            Vejo com muita preocupação o cenário que vivemos no mercado empresarial 
                            principalmente no sector da prestação de serviços e não só por conta das 
                            dificuldades que temos vindo a enfrentar ao longo destes anos como empresários, 
                            para divulgar os nossos serviços e também para adquirir clientes por causa do 
                            monopólio dentro das grandes empresas e as dificuldades na aquisição de créditos.
                        </p>
                        <br>
                        <p>
                            Hoje temos a graça de termos o nosso grupo JK - Jeremias & Kanguito, que 
                            comunicamos Para Si e Por Si. Sendo um dos  objetivos e prespectivamos 
                            ser a maior conexão de negócio do país com reconhecimento internacional, 
                            fornecer mecanismo á  todos os nossos parceiros, membros para  captação de 
                            financiamentos ou créditos para o desenvolvimento dos negócios.
                        </p>
                        <br>
                        <p>
                            Gerar oportunidade para novos empreendedores e novos talentos, dentro da 
                            nossa plataforma  digital bem como  café de negócios  para transformar vidas 
                            sonhando juntos e  tornar os mesmos em realidade.Lembrando que as  dificuldades 
                            são imensas e  no princípio de qualquer projecto principalmente é necessário 
                            encontrar pessoas que acreditam e estejam disponíveis para nos ajudar a sonhar. 
                            Dessa forma pretendemos ser a maior direção comercial externa para qualquer 
                            empresa ou negócio.
                        </p>
                        <br>
                        <p>
                            Sem mais, expresso os meus  agradecimentos à todos os meus familiares, 
                            colegas, aos nossos patrocinadores, parceiros e membros pela confiança que 
                            nos  foi depositado ao abraçarem este grande projecto.
                        </p>
                        <br>
                        <br>
                        <p>Saudações Cordiais </p>
                        <br>
                        <h4 class="assign-pca">Fernando do Carmo Jeremias</h4>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="col-md-3">
                    <br>
                    <br>
                    <br>
                    <br>
                    <img class="img-fluid img-thumbnail" src="/images/site/profile/pca_message.jpg" alt="">
                </div>
            </div>



        </div>
    </section>


    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<!-- JS FILES --> 
<script src="/templete-site/js/jquery.min.js"></script>
<script src="/templete-site/js/bootstrap.min.js"></script> 
<script src="/templete-site/js/swiper.min.js"></script> 
<script src="/templete-site/js/jquery.stellar.js"></script> 
<script src="/templete-site/js/isotope.min.js"></script> 
<script src="/templete-site/js/imagesloaded.pkgd.min.js"></script> 
<script src="/templete-site/js/jquery.typewriter.js"></script> 
<script src="/templete-site/js/odometer.min.js"></script> 
<script src="/templete-site/js/fancybox.min.js"></script> 
<script src="/templete-site/js/wow.min.js"></script> 
<script src="/templete-site/js/jquery.form.min.js"></script> 
<script src="/templete-site/js/jquery.validate.min.js"></script> 
<script src="/templete-site/js/contact.form.min.js"></script> 
<script src="/templete-site/js/scripts.js"></script>
