
<%= render 'layouts/partials/header/header_about', subject: @product.name %>

<main>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeIn">
                    <div class="title">
                        <h3><%= @product.name %></h3>
                    </div>
                    <!--end title --> 
                </div>
            </div>
            <!-- end row --> 
        </div>
        <!-- end container --> 
    </section>
    <!-- end contact -->

    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<!-- JS FILES --> 
<script src="/templete-site/js/jquery.min.js"></script>
<script src="/templete-site/js/bootstrap.min.js"></script> 
<script src="/templete-site/js/swiper.min.js"></script> 
<script src="/templete-site/js/jquery.stellar.js"></script> 
<script src="/templete-site/js/isotope.min.js"></script> 
<script src="/templete-site/js/imagesloaded.pkgd.min.js"></script> 
<script src="/templete-site/js/jquery.typewriter.js"></script> 
<script src="/templete-site/js/odometer.min.js"></script> 
<script src="/templete-site/js/fancybox.min.js"></script> 
<script src="/templete-site/js/wow.min.js"></script> 
<script src="/templete-site/js/jquery.form.min.js"></script> 
<script src="/templete-site/js/jquery.validate.min.js"></script> 
<script src="/templete-site/js/contact.form.min.js"></script> 

<script src="/templete-site/js/scripts.js"></script>
