/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/



.product-title {
    text-align: center;
}

.btn-aderir {
    background: #35aa49;
    color: #fff !important;
    padding: 10px 20px !important;
    border-radius: 40px !important;
    box-shadow: 0px 10px 10px 10px rgb(0 0 0 / 10%);
}

.content-box-board {
    border: #35aa49 2px solid;
}

.section-jk {
    padding: 20px;
    background: rgb(66, 134, 77);
    background: linear-gradient(90deg, rgba(66, 134, 77, 1) 0%, rgba(53, 170, 73, 1) 35%, rgba(44, 46, 132, 1) 100%);
}

.nav-bg {
    background: url(/menu.png) center no-repeat !important;
}

.nav-bg2 {
    background: url(/menu.png) center no-repeat !important;
}

.btn-fechar {
    background-color: #fff;
    padding: 0px 9px;
    border-radius: 5px;
}

.assign-pca {
    background: url(/btn-bg.jpg) center;
    -webkit-background-clip: text;
    color: transparent;
    background-size: auto 100%;
}

.profile-board {
    position: absolute;
    right: 5%;
    width: 40px;
    top: 0;
}

.profile-board {
    border-radius: 50%;
}

.navbar .sandwich-nav .sandwich-text b {
    color: #ffffff !important;
}

.sandwich-btn span {
    color: #ffffff !important;
}

.navbar .sandwich-nav {
    background: #242562;
    border-radius: 10px;
    padding: 0px 5px;
}

.btn-kambandu {
    background: #242562 !important;
    color: #ffffff !important;
}