<footer class="footer">
    <div class="container">
        <div class="content-box wow fadeIn" data-wow-delay="0s">
            <h2>ENDEREÇO</h2>
            <p>AV. 21 De Janeiro, Cassequel do Lourenço<br>
                Edifício Procenter<br>
                Luanda - Angola 
            </p>
        </div>
        <!-- end content-box -->
        <div class="content-box wow fadeIn" data-wow-delay="0.1s">
            <h2>FALE CONNOSCO</h2>
            <p>+244 923 000 909<br>
                geral@jk-grupo.com
            </p>
        </div>
        <!-- end content-box -->
        <div class="content-box wow fadeIn" data-wow-delay="0.2s">
            <h2>QUER FAZER PARTE DO GRUPO?</h2>
            <p>To see currently open positions<br>
                career [at] verno.com.ua
            </p>
        </div>
        <!-- end content-box -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->
<footer class="sub-footer">
    <div class="container wow fadeIn">
        <small>Todos os Direitos Reservados 2022 - <%= Time.now.strftime('%Y') %> © Grupo JK</small>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">LinkdIn</a></li>
        </ul>
    </div>
    <!-- end container -->
</footer>
<!-- end sub-footer -->
